# Spring datasource
DB_URL=jdbc:postgresql://localhost:5432/awesome
DB_USERNAME=awesome_user
DB_PASSWORD=change_me

# Docker compose postgres
POSTGRES_DB=awesome
POSTGRES_USER=awesome_user
POSTGRES_PASSWORD=change_me
POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C.UTF-8
TZ=Asia/Seoul
PGTZ=Asia/Seoul
