# Dev images
DEV_BACKEND_IMAGE=registry.example.com/awesome/awesome-backend:dev-latest
DEV_FRONTEND_IMAGE=registry.example.com/awesome/awesome-frontend:dev-latest

# Dev ports
DEV_BACKEND_PORT=8080
DEV_FRONTEND_PORT=3000

# Dev DB
DEV_POSTGRES_DB=awesome_dev
DEV_POSTGRES_USER=awesome_dev_user
DEV_POSTGRES_PASSWORD=change_me_dev
DEV_POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C.UTF-8

# Dev locale/time
DEV_TZ=Asia/Seoul
DEV_PGTZ=Asia/Seoul
DEV_LANG=C.UTF-8
DEV_LC_ALL=C.UTF-8
